/* Universal Styles */

html {
  font-size: 16px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #2e2e2e;
  box-sizing: border-box;
}

h1 {
  font-size: 3.157rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 2.369rem;
  line-height: 1;
  font-weight: 700;
}

h3 {
  font-size: 1.777rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.333rem;
  letter-spacing: 1px;
}

h5 {
  font-size: 1rem;
  line-height: 1.333;
}

.main-content {
  position: relative;
  top: 4rem;  /* To offset for fixed header. */
}

/* Header Navigation*/

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 64px;
  background-color: #f7f7f8;
}

header .content {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 2rem;
}

header img {
  width: 3rem;
  padding-top: .5rem;
}

header nav ul {
  display: flex;
}

header nav li {
  padding-right: 1.5rem;
}

header a {
  color: #2e2e2e;
}

.colmar {
  font-weight: 700;
  color: #402b40;
}

header a .academy {
  color: #959595;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 840px) {
  .colmar,
  .academy {
    display: none;
  }
}

@media only screen and (max-width: 460px ) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Banner Styles */

.container-banner {
  width: 100%;
}

.container-banner-container {
  background-color: #959595;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 3rem;
}

.container-banner-container img {
  width: 60%;
}

.container-banner-text {
  width: 40%;
  margin-left: 2.75rem;
}

.container-banner .sub-head {
  padding-top: 1rem;
}

.button {
  color: #f7f7f8;
  background-color: #402b40;
  text-align: center;
  width: 50%;
  border-radius: 4px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 2.369rem;
    line-height: 1;
  }

  h3 {
    font-size: 1.333rem;
    line-height: 1;
  }

  .button {
    width: 100%;
    font-size: 1rem;
    background-color: #646;
  }
}

@media only screen and (max-width: 680px ) {
  .container-banner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 1rem 0;
    }

    .container-banner-container img {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .container-banner-text {
      width: 100%;
      margin-left: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .button {
      width: 75%;
    }
  }


/* Campus info section */

.class-info-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

section .main-class-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section .class-info-text {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-class-info img {
  width: 100%;
}

.class-info-text .sub-head {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.quote-attribute {
  font-style: italic;
}

/* Sidebar Information section styles */

.sidebar-container {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-bottom: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.5rem;
}

.sidebar img {
  width: 35%;
  height: auto;
  margin: 1.5rem;
}

.orientation img {
  margin-top: -.075rem;
}

.sidebar-text {
  width: 65%;
}

.sidebar-text h3 {
  font-weight: 700;
  padding-bottom: .5rem;
}

.sidebar-sub-head {
  padding-bottom: .5rem;
}

.guest-lecture,
.orientation,
.campus {
  border-bottom: .5px solid #959595;
  border-left: .5px solid #959595;
}


  .sidebar .mobile-img {
    display: none;
}

@media only screen and (max-width: 600px ) {
  section .main-class-info  {
    display: none;
  }

  .sidebar-container {
    max-width: 100%;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sidebar .desktop-img {
    display: none;
  }

  .sidebar .mobile-img {
    display: block;
    width: 100%;
    margin: auto;
  }

  .sidebar-text {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .guest-lecture,
  .orientation,
  .campus {
    border-left: none;
  }
}

/* Start Learning Styles */

.start-learning-container {
  width: 100%;
  background-color: #f1f1f1;
}

.start-learning-container h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.start-learning-container h3 {
  font-weight: 700;
  padding-top: 1rem;
}

.start-learning-sub-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.start-learning-content {
  display: flex;
	flex-direction: column;
	width: 29%;
  min-width: 15rem;
  background-color: #fff;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.start-learning-content img {
  height: auto;
  width: 100%;
}

.course-text {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1.5rem;
}

.course {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.mobile-start-learning {
  display: none;
}

@media only screen and (max-width: 600px ) {
  .start-learning-sub-container {
    display: none;
  }

  .start-learning-container {
    background-color: #f7f7f7;
  }

  .start-learning-container h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .mobile-start-learning {
    display: contents;
  }

  .mobile-start-learning li {
    padding: 1rem;
    font-size: 1.333rem;
    background-color: #f1f1f1;
    margin: .5rem 1rem .5rem 1rem;

  }

  .mobile-start-learning a {
    color: #2e2e2e;
  }

}

/* Thesis Exhibit Styles */

.thesis-exhibit-container {
  width: 100%;
  margin-bottom: 2rem;
}

.thesis-exhibit-container h2 {
  text-align: center;
  padding-top: 2rem;
}

.thesis-exhibit-sub-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

section .thesis-exhibit {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section .thesis-exhibit-text {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thesis-exhibit video {
  width: 100%;
  height: auto;
}

.thesis-exhibit-text .sub-head {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 680px ) {
  .sidebar-container-thesis,
  .thesis-exhibit-text {
    display: none;
  }

  .thesis-exhibit video {
    padding-bottom: 3.5rem;
  }

  section .thesis-exhibit {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .thesis-exhibit-sub-container {
    margin-top: 1.5rem;
  }
}

/* Footer Styles */

footer {
  width: 100%;
  height: 64px;
  background-color: #f1f1f1;
  border-top: .5px solid #959595;
}

footer p {
  font-size: .75rem;
}

footer .content {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

footer .copyright {
  display: flex;
  align-items: center;
  flex: 1;
}

footer nav ul {
  display: flex;
}

footer nav li {
  padding-right: 1.5rem;
}

footer a {
  color: #2e2e2e;
  font-size: .75rem;
}

@media only screen and (max-width: 460px ) {
  footer .desktop {
    display: none;
  }

  footer .copyright {
    padding-top: .5rem;
    padding-bottom: 1rem;
  }
}
