/* Universal Styles */

html {
  font-size: 16px;
  background-color: #f7f7f8;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #2e2e2e;
  box-sizing: border-box;
}

h1 {
  font-size: 3.157rem;
  font-weight: 700;
  line-height: 1;
}

h3 {
  font-size: 1.777rem;
  line-height: 1;
}

h4 {
  font-size: 1.333rem;
  letter-spacing: 1px;
}

/* Header Navigation*/

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 64px;
  background-color: #f7f7f8;
}

header .content {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 2rem;
}

header img {
  width: 3rem;
  padding-top: .5rem;
}

header nav ul {
  display: flex;
}

header nav li {
  padding-right: 1.5rem;
}

header a {
  color: #2e2e2e;
}

.colmar {
  font-weight: 700;
  color: #402b40;
}

header a .academy {
  color: #959595;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 840px) {
  .colmar,
  .academy {
    display: none;
  }
}

@media only screen and (max-width: 460px ) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Banner Styles */

.container-banner {
  position: absolute;
  width: 100%;
  margin-top: 4rem;

}

.container-banner-container {
  background-color: #959595;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-banner img {
  width: 60%;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.container-banner-text {
  width: 40%;
  margin-right: 3rem;
}

.container-banner .sub-head {
  padding-top: 1rem;
}

.button {
  color: #f7f7f8;
  background-color: #402b40;
  text-align: center;
  width: 50%;
  border-radius: 4px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 2.369rem;
    line-height: 1;
  }

  h3 {
    font-size: 1.333rem;
    line-height: 1;
  }

  .button {
    width: 100%;
    font-size: 1rem;
    background-color: #646;
  }
}

@media only screen and (max-width: 680px ) {
  .container-banner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-top: -2rem;
    }

    .container-banner img {
      width: 100%;
    }

    .container-banner-text {
      margin: auto;
      width: 100%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .container-banner .sub-head {
      padding-top: 1.5rem;
      line-height: 1.47;
    }

    h1 {
      line-height: 1.333;
    }

    .button {
      width: 90%;
      background-color: #646;
      margin-top: 1.5rem;
      text-transform: uppercase;
    }
  }

@media only screen and (max-width: 320px ) {
  .container-banner-text {
    margin: auto;
    width: 90%;
}
